// EmbellishImage Style 2017-05-23
$em-image-bgcolor: rgba(0, 0, 0, .4);
$em-border-color: #ccc;
$box-bgc: rgba(255, 255, 255, .9);
$border-color: #455d7a;

$text-dark: #233142;
$text-white: rgba(255, 255, 255, .9);

$btn-gray: rgba(0, 0, 0, .3);
$btn-gray-active: rgba(0, 0, 0, .4);
$btn-success: rgba(59, 180, 193, .7);
$btn-success-active: rgba(59, 180, 193, .9);

$drop-bg: rgba(0, 0, 0, .1);

.em-modal {
  align-items: flex-start;
  display: flex;
  height: auto;
  justify-content: center;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;

  & * {
    box-sizing: border-box;
  }

  .em-modal-bg {
    background-color: $em-image-bgcolor;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .em-box {
    background-color: $box-bgc;
    border-radius: 5px; // margin-bottom: 80px;
    margin-top: 80px;
    max-width: 1000px;
    min-height: 460px;
    padding: 10px;
    transition: height 2s ease;
    width: 100%;
    z-index: 1000;
  }

  .em-box-header {
    border-bottom: 2px solid $border-color;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 34px;

    h3 {
      color: $text-dark;
      display: inline-flex;
      margin: 0;
    }

    div {
      display: inline-block;
    }
  }

  .em-box-body {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;

    .em-image-render {
      align-items: center;
      display: flex;
      height: 400px;
      justify-content: center;
      width: 70%;
    }

    .em-drop-area {
      align-items: center;
      border: 1px dashed $border-color;
      color: $text-dark;
      display: flex;
      height: 200px;
      justify-content: center;
      width: 80%;

      &:hover {
        background-color: $drop-bg;
      }
    }

    canvas {
      height: 400px;
      width: 100%;
    }

    .em-image-preview {
      border-left: 1px solid $border-color;
      overflow: hidden;
      padding-left: calc(100% - 99%);
      width: 28%;
    }

    img {
      width: 100%;
    }
  }

  .em-box-footer {
    border-top: 2px solid $border-color;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }

  .em-cancel {
    float: right;

    span {
      border-radius: 2px;
      cursor: pointer;
      float: left;
      height: 30px;
      position: relative;
      width: 30px;

      &:hover {
        background-color: $btn-gray;
      }

      &:active {
        background-color: $btn-gray-active;
      }

      &::after,
      &::before {
        background-color: $text-dark;
        content: '';
        height: 2px;
        left: 4px;
        position: absolute;
        top: 14px;
        width: 20px;
      }

      &::after {
        transform: rotate(50deg);
      }

      &::before {
        transform: rotate(-50deg);
      }
    }
  }

  .em-btn {
    border-radius: 2px;
    color: $text-dark;
    cursor: pointer;
    font-size: 14px;
    margin: 0 2px;
    padding: 6px 14px;
    text-align: center;

    &:hover {
      color: $text-white;
    }
  }

  .em-btn-secondary {

    &:hover {
      background-color: $btn-gray;
    }

    &:active {
      background-color: $btn-gray-active;
    }
  }

  .em-btn-success {

    &:hover {
      background-color: $btn-success;
    }

    &:active {
      background-color: $btn-success-active;
    }
  }
}
